.profile {
	width: 180px;
	padding: 10px;
	background-color: #fff;
	border-radius: 25px;
	border: 2px solid #000;
	margin: 10px;
	display: inline-block;
}

.profile:hover {
	background-color: #f60;
	color: #fff;
}

.profilePicture {
	display: block;
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-right: 10px;
}
.profileText {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
}
.profileName {
	font-size: large;
}
.profileRole {
	font-size: small;
}
.profileFlag {
	width: 50px;
	height: 30px;
	float: right;
	margin-top: auto;
	margin-bottom: auto;
}
.players {
	width: 100%;
}
.playerDetails {
	margin: auto;
	width: 100%;
}
.playerDetailName {
	width: calc(100% - 20px);
	margin: 10px 10px 0px 10px;
	background-color: #000;
	padding: 5px;
	color: #fff;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
.playerDetailStats {
	width: calc(100% - 20px);
	margin: 0px 10px 10px 10px;
	padding: 10px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border: 2px solid #000;
}
.heroPortrait {
	width: 96px;
	height: 96px;
	margin: 5px;
	border: 2px solid #000;
	border-radius: 50%;
	background-color: #111;
}
.stat {
	width: calc(100% - 20px);
	display: inline-grid;
	margin: 10px;
}
.statHeader {
	background-color: #f60;
	margin: 0px;
	color: #000;
	padding: 10px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
.statValue {
	margin: 0px;
	padding: 10px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border: 2px solid #f60;
}