.match {
	display: inline-block;
	width: 400px;
	height: 280px;
	margin: 10px;
	padding: 0px;
}
td {
	text-align: center;
	padding: 10px;
}
.spoilerButton {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 30px;
}
.vodLink {
	color: #aaa;
}
.datetime {	
	background-color: #000;
	margin: 0px;
	color: #fff;
	padding: 10px 20px 10px 20px;
	font-size: large;
	font-weight: bold;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	width: 100%;
}
.link {	
	margin: 0px;
	height: 45px;
	inline-height: 45px;
	padding: 10px 20px 10px 20px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border: 2px solid #000;
	border-top-width: 0px;
	width: 100%;
}
table {
	border: 2px solid #000;
	border-bottom-width: 0px;
	margin: 0px;
}
.home .away{
	width: 50%;
	height: 300px;
	box-sizing: border-box;
}
.away {
	background-color: #666;
	color: #fff;
}
.homeName .awayName {
	width: 100%;
	text-align: center;
}
.scoreHome {
	width: 24px;
	height: 24px;
	inline-height: 24px;
	background-color: #000;
	color: #000;
	border: 2px solid #000;
	display: inline-block;
	float: left;
	margin: 0px 20px 0px 0px;
	border-radius: 24px;
}
.scoreAway {
	width: 24px;
	height: 24px;
	inline-height: 24px;
	background-color: #000;
	color: #000;
	border: 2px solid #000;
	float: right;
	margin: 0px 0px 0px 20px;
	border-radius: 24px;
}
.vs {
	position: relative;
	left: 175px;
	top: -160px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 25px;
	background-color: #000;
	color: #fff;
	text-align: center;
	z-index: 10;
}
.logo {
	width: 128px;
	height: 128px;
	border: 2px solid #000;
	border-radius: 64px;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}
.background {
	position: relative;
	left: 200px;
	top: -240px;
	width: 200px;
	height: 240px;
	background-color: #000;
	z-index: -10;
}